**IMPORTANT NOTE:** 
In order to do some of these exercises, you might have to dig into the lecture notes in the relevant section!  
In this notebook, we will explore the properties of the data types called "tuples" and "sets". These are described in Lecture notes 1.04 and 1.05.


**Quick Summary:**  

A **set** is a collection, without any specific order, of distinct and heterogeneous ( = not necessarily of the same type ) variables. The elements of a set must be declared within brakets {}, separated by a comma, or using the set() command. Examples:

```Python
myVariable = { 1, 2, 34 } or
myVariable = set( [ 1, 2, 34 ] )
```

Sets have the same properties you would expect for a mathematical set, so you can do unions,
intersections, and so on.  

A **tuple** is very similar to a list, but its element once set cannot be changed. For this reason, all operations that you have seen on list can be done on tuples as well, except those that change the elements in a list (with the only exception of adding an element at the end of the tuple, which can be done as in lists). 
A tuple declaration is:

```Python
myTuple = ( 1, 2, 3 ) or,
myTuple = tuple( [ 1, 2, 3 ] )
```

**Note:** A tuple with a single element must be declared using a comma at the end:
```Python
myTuple = ( 1, )  
```

and **NOT** as 

```Python
myTuple = ( 1 )
```

In [ ]:
mySet = { 1, 2, 2, 2, 3, 3, 4, 5 }
mySet2 = { 4, 5, 6 }

In [ ]:
#After running the Python interpreter in the previous cell, 
# run it on the cells below to check what happens

In [ ]:
# ...what do you see here? Remember the definition of set!
print( mySet )

In [ ]:
# What about here? Can you add sets?
print( mySet + mySet2 )

In [ ]:
# What about here? Can what does it mean to make the difference 
# between sets? 
print( mySet - mySet2 )

print( mySet2 - mySet )

In [ ]:
# What about here? Can what you multiply sets? 
print( mySet * 2 )

Use the documentation trick (see lecture notes 1.03) to retrieve the documentation for the following operations that can be run on sets and print it out. Also, make a mental note of each of these commands or 
write them down somewhere!  

Please be careful: different operations can have different syntaxes and admit as input different objects / variables, so try to understand and write the full syntax!

- .union 
- .intersection
- .issubset 
- .isdisjoint
- .copy
- .remove
- .add
- .clear

For this, you need first to declare `a` in the cell below as a set variable.

In [ ]:
# Declare a as a set variable (by assigning it any random 
# value or using the set command, which can also be left 
# with empty brakets)
a =

In [ ]:
# a.union

In [ ]:
# a.intersection

In [ ]:
# a.issubset

In [ ]:
# a.isdisjoint

In [ ]:
# a.copy

In [ ]:
# a.remove

In [ ]:
# a.add

In [ ]:
# a.clear

Run the Python interpreter in the cell below so as to assign a value to the `a`, `b` and `c` variables. 
Then use operations on sets from the exercise above and write the commands to:

1. Print the intesection between set a and b
2. Print the union between set a and b
3. Using the comparison command == ( =  twice ), check if a and b are the same set
4. Remove the element 5 from set c. What happens?
5. Add again element 5 to set c, then check if a is a subset of c

In [3]:
a = set( [ 1, 3, 4, 2, 2, 2, 2, 3, 4, 4, 4, 4 ] )
b = { 1, 2, 3, 4 }
c = { 1, 2, 3, 4, 5 }

In [ ]:
# 1.

In [ ]:
# 2.

In [ ]:
# 3.

In [ ]:
# 4.

In [ ]:
# 5.

In [ ]:
# Let's talk about the symbol "=" and sets to see what happens: Are sets copied by reference or by value? 
# Check the lecture notes!

a = set( [ 1, 2, 3, 4, 5 ] )
print( "The initial value of a is: {0}".format(a) )
print( "   " )


b = a
b.remove(2)
c = 2 in a 
print( "is 2 in a: {0}".format( c ) )
print( "The value of a is: {0}".format(a) )
print( "   " )

b.add(45)
print( "The value of b is: {0}".format(b) )
print( "The value of a is: {0}".format(a) )
print( "   " )

b = a.copy()
b.remove(1)
print( "The value of b is: {0}".format(b) )
print( "The value of a is: {0}".format(a) )
print( "   " )

Tuples are just like immutable lists...so I just ask you to check which of the list operations
are also valid for this data type. To do that, add some cells below using the âž• button from the Jupyter Menu, fill it with the necessary code and run it to see what happens. To do this, you should first declare a tuple, then try to apply the following commands and check the results:

-  .extend 
-  .insert 
-  .sort
-  .reverse
-  .index
-  .count

**NOTE:**
Python will give you an error both if you wrote the command in the wrong way (for example, because an input value is missing) or because that specific operation is not allowed on tuples. Read the error message to understand what happened and be careful. 

A question that you should ask yourself is the following: Why not all of the previous operations are allowed on tuples? Do you understand the logic behind it?